@model AzmonNew.Application.Services.Questions.Queries.GetQuestionDetailForAdmin.ResultQuestionDetailDto
@{
    Layout = null;
  }
<div>
    <br/>
    <h5> دسته بندی: @Model.QuestionCategory</h5>
    <br/>
     <h5> سطح:     @Model.Level</h5>

    <label for="basicInput"> متن سوال</label>
    <input type="text" class="form-control" value= @Model.QuestionText id="Edit_Fullname">
   
    
    
    
    <br/>
    @foreach(var item in Model.Options)
    {
        <h2> 
        <input type="text" id = "answerBox" class="form-control" value= @item.Text id="Edit_Option"+@item.Id>         
        @if(@item.isTrue==true){
            <input type="checkbox" class="form-control" checked/>
        }else if(@item.isTrue==false){
             <input type="checkbox" class="form-control" />
        }
        </h2>     
    }
    
</div>




